<main>

  <app-header></app-header>


<div class="myList-form-div">
  <div class="d-flex justify-content-center">
    <p class="restName p-0 m-0">{{restaurant?.restaurantName}}</p>
  </div>


    <div class="d-flex justify-content-between flex-lg-wrap">
      <div *ngFor="let dish of restaurant?.menu" class="myList-form my-3">

        <div class="d-flex justify-content-between">
        <p class="dishName">{{dish.dishName}}</p>
        <p class="dishBig">$&nbsp;&nbsp;{{dish.dishPrice}}</p>
        </div>
        <p class="dishInfo">{{dish.dishInfo}}</p>


    </div>
  </div>

  <div class="d-flex justify-content-evenly mt-5">
   <button (click)="openAddDishForm()" class="myBigBtn-inverse">add dish</button>
  </div>

</div>

<div *ngIf="addDish"  class="sub-form d-flex w-50 h-25 menu-form myListItems mb-5">
  <div class="d-flex justify-content-evenly">
    <h4 class="sub-card-title sub-form-title mb-5 title title-form">fill up the form</h4>
  </div>
  <form  [formGroup]="addDishForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline ">
          <label class="form-label details" for="dishName">Dish name</label>
          <input type="text" id="dishName" class="form-control" formControlName="dishName" minlength="3" maxlength="20" required pattern="[a-z A-Z]+"/>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="form-label details" for="dishPrice">Dish price</label>
          <input type="number" id="dishPrice" class="form-control" formControlName="dishPrice" required/>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label details" for="dishInfo">Dish description</label>
        <textarea id="dishInfo" class="form-control" formControlName="dishInfo" rows="4" cols="50" minlength="3" maxlength="100" required pattern="[a-z A-Z]+"></textarea>
      </div>
    </div>
    <!-- Submit button -->
    <div class="form-button-container">
      <button class="myBigBtn" [ngClass]="addDishForm.valid ? 'sub-button-form' : 'btn-disabled'" type="submit"
              [disabled]="addDishForm.invalid || addDishForm.disabled">ADD</button>
    </div>

  </form>
</div>

</main>
